   html {
            margin: 0;
            padding: 0;
            background: black;
        }
        
        body{
            width: 50%;
            margin: auto;
            font: 100% Arial, Helvetica, sans-serif;
            padding: 1em 50px;
            background: pink;
            border-bottom: 10px solid gold;
            text-align:center;
        }
        
        h1{
            font-family: "Times New Roman";
            font-size: 2em;
            font-weight: bold;
            font-style: normal;
            margin: 1em 0 .4em;
         
        }
        
a {
    text-decoration: underline;
    color: black;
}

a:hover{
    text-decoration: underline;
    color: black;
}
     
aside {
	padding: 1em;
	background:rgb(83, 104, 138);
	color: white;
	margin-bottom: 1em;
}
aside h4 {
	color: pink;
}
footer {
	border-top: 1px black;
	text-align: center;
	font-size: .8em;
	line-height: 4em;
	margin-top: 1em;
}
blockquote {
	font-style: italic;
}
.flowRight {
	float: right;
	margin-left: 10px;
}
.flowLeft {
	float: left;
	margin-right: 10px;
}
/*tab styles*/
aside.languages {
	font: .8em "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	background:#2e2e2e;
	padding: 25px;
	padding-top: 1em;
	float: right;
	width: 500px;
	margin-left: 1em;
}

.languages h3 {
	font-weight: normal;
	color: pink;
	font-size: 1.6em;
	margin-bottom:.5em;
}

#tabContainer h4 {
	color: black;
	font-size: 2em;
}

#tabs{
	height:30px;
	overflow:hidden;
}

#tabs > ul{
	font: 1em;
	list-style:none;
}
#tabs ul, #tabs li {
	margin:0;
	padding:0;
}

#tabs > ul > li{
	margin:0 2px 0 0;
	padding:7px 10px;
	display:block;
	float:left;
	color:pink;
	border-top-left-radius:4px;
	border-top-right-radius: 4px;
	background: #CCC;
}

#tabs > ul > li:hover{
	background: white; 
	cursor:pointer;
}

#tabs > ul > .active{
	background: pink; /* old browsers */
	cursor:pointer;
}

#containers div {
	background: pink;
	padding:10px 10px 25px;
	margin:0;
	color:#333;
}
#tabs a {
	text-decoration: none;
	color: black;
}
