/* Comment */


body{
  color: lime;
  background: url(https://wallpapercave.com/wp/wp2697274.jpg);
  background-repeat: repeat;
  background-position:bottom;

}

.HTML{
  background-color: black;
  border-color: lime;
  border-width:1px;
  border-style:ridge;
}

a{
  color:lime;
}
